extends ../../layout.pug

block body

.jumbotron.test-center
	h1 Editing #{book.name}
		if typeof errors != 'undefined' && errors.length > 0
			.alert.alert-danger
				for(error of errors)
					#{error}
		form(action="/books/{book.descriptions}" method="POST")
			input(type="hidden" name="_csrf" value={csrfToken})
				.form-group
					label Name
					input(type="text" name="name" value=#{book.name}).form-control
				.form-group
					label Author
					textarea(name="author" rows="1").form-control  #{book.author}
				.form-group
					label About
					textarea(name="about" rows="5" ).form-control #{book.about}

				.form-group
					button(type="submit").btn.btn-success.btn-lg Update