extends ../../layout.pug

block body
    .container-fluid
        .card.admin
            .card-body.border.border-black.rounded
                h1.text-center Predici
                table.table.table-striped
                    thead
                        tr
                            th Nume
                            th Author
                            th
                            if typeof sermins != 'undefined' && sermons.length > 0
                                each sermon, index in sermons
                                    tr
                                        td #{sermon.name}
                                        td #{sermon.author}
                                        //                        td
                                        //                            a.btn.btn-md.btn-primary.mr-3.pull-right(href=`/predici/${book.slug}/`) View
                                        //                            a.btn.btn-md.btn-primary.mr-3.pull-right(href=`/books/${book.slug}/edit`) Edit
                                        //                            a.btn.btn-md.btn-primary.mr-3.pull-right(href=`/books/${book.slug}/delete`) Delete
                                        //            else
                                        //                h1 Nu ai nici o carte
                                        ////#{- include('../../pagination', {pagination: pagination}) }