extends admin.pug

block admin-content
	.container-fluid
		.card.admin
			.card-body.border.border-black.rounded
				h1.text-center Books
				table.table.table-striped
					thead
						tr
							th Books Name
							th Author
							th
								a.btn.btn-lg.btn-primary.pull-right(href="books/create") Adauga un carte
							if typeof books != 'undefined' && books.length > 0
								each book, index in books
									tr
										td #{book.name}
										td #{book.author}
										td
											a.btn.btn-md.btn-primary.mr-3.pull-right(href='/books/#{book.slug}') View
											a.btn.btn-md.btn-primary.mr-3.pull-right(href='/books/#{book.slug}/edit') Edit
											a.btn.btn-md.btn-primary.mr-3.pull-right(href='/books/#{book.slug}/delete') Delete
							else
								h1 Nu ai nici o carte
				//#{- include('../../pagination', {pagination: pagination}) }