extends admin.pug

block admin-content
	.container-fluid
		.card.admin
			.card-body.border.border-black.rounded
			h1 Editing #{reader.name}
			.row
				.col-sm-6.col-sm-offset-3
				if typeof errors != 'undefined' && errors.length > 0
					.alert.alert-danger
						each error, index in errors
							#{error}
				form(action="/admin//:slug/edit" method="POST")
					input(type="hidden" name="_csrf" value=csrfToken)
					.form-group
						label Name
						input.form-control(type="text" name="name" value=reader.name)
					.form-group
						label Age
						textarea.form-class(name="age" rows="1") #{reader.age}
					.form-group
						button.btn-btn-success(type="submit") Update