extends admin.pug

block admin-content
	.container-fluid
		.card.admin
			.card-body.border.border-black.rounded
				if success.length > 0
					.alert.alert-success #{success}
				h1.text-center Cititori
				table.table.table-striped
					thead
						tr
							th Numele
							th Varsta
							th Email
							th
								a.btn.btn-lg.btn-primary.pull-right(href="readers/create") Adauga un cititor
						each reader, index in readers
							tr
								td #{reader.name}
								td #{reader.age }
								td #{reader.email}
								td
									a.btn.btn-md.btn-primary.mr-3.pull-right(href="/readers/#{reader.slug}") View
									a.btn.btn-md.btn-primary.mr-3.pull-right(href="/readers/#{reader.slug}/edit") Edit
									a.btn.btn-md.btn-primary.mr-3.pull-right(href="/readers/#{reader.slug}/delete") Delete
						//#{- include('../../pagination', {pagination: pagination}) }